# In-Class Exercise 2

> **Note:**
> 
> 1. Solve the bonus questions only after finishing all other exercises.
> 
> 2. Please commit every time you solve one of the exercises. An example commit message
> could be `"Solution to question 1"`. Feel free to commit more than once per
> exercise if solving it requires multiple complicated steps.

## Assignment and Built-in Scalar Types

---
### Question 1

Compute the value of the expression $(a + b)^2 / 10 $, with $a = 3.14$ and $b =
-10^{-5}$.

0.98595372001

---
### Question 2

Check whether the following expression is true $a^{13} < -\frac{1}{b}$

False

---
### Question 3

Compute the sum of the squares of `a`, `b` and `c`, where $a = 2.5$, $b = -3.7$ and
$c = 4.6$. Then convert the sum to an integer and check if it is even or odd.

41.099999999999994
41
Odd

---
### Question 4 (Bonus)

Given the expression `2 + 3 * 4 ** 2 - 1 / 5`, without adding any parentheses,
can you determine the order in which the operations are performed? What is the
final result?

---
### Question 5 (Bonus)

Given variables `a = True`, `b = False`, and `c = True`, evaluate the following
expression

$$ ((a \land b) \lor c) \land \lnot (a \lor (b \land c)) $$

## Strings

---
### Question 6

Take the string variable `a`:

In [22]:
a = "I like programming"

and split it into three words. Assign these words to the variables `a1`, `a2` and `a3`.

> **Tip:** Check out the 
> [documentation](https://docs.python.org/3/library/stdtypes.html#str.split)
> of the `split` method.

I
like
programming
I
like
programming

---
### Question 7

Take the variables `a1`, `a2` and `a3` from question 6, combine them to a string `b`
such that it says `"programming I like"`. Do this using

- [ ] f-strings
- [ ] the `+` operator.

In [ ]:
# Using f-string

programming like I

In [ ]:
# Using the + operator

I like programming

---
### Question 8 (Bonus)

Given a string `"Python programming is fun!"`, replace all occurrences of
the character 'o' with the character '0' (zero), then check if the resulting
string starts with 'Pyt' and ends with 'fun!'.

## Lists, Tuples and Sets

---
### Question 9

Define the list `a = [-99, -99, 3, 4, 5]` and the tuple `b = (1, 2)`. Assign the values
of `b` to the corresponding positions in `a`.

[1, 2, 3, 4, 5]

---
### Question 10

Execute the following code. Why is the result False?

In [36]:
"ab" in set("abc")

False

True

---
### Question 11 (Bonus)

Given two lists `l1 = [1, 2, 3, 4]` and `l2 = [3, 4, 5, 6]`, create a new list
`l3` that contains the elements that are common to both lists, without any
duplicates.

## Dictionaries

---
### Question 12

Define a dictionary that maps names to a level of Python knowledge. As names you can
take the names of your group (min. three people in total). The Python knowledge should be rated on a scale from 0 to 10.

{'Chiara': 0, 'Carles': 1, 'Carolin': 1, 'Audric': 5}

---
### Question 13

Define a dictionary `d1` that maps the keys `"a"` and `"b"`, to the values `1` and `2`,
respectively. Create another dictionary `d2` that maps the key `"c"` to the value `3`.
Now, add the second dictionary as an entry to the first dictionary under the key `"d"`.

{'a': 1, 'b': 2, 'd': {'c': 3}}

---
### Question 14

Create a dictionary called `student_grades` with three keys: `math`, `english`, and `econ`. Each key should have a list of three grades as its value (use positive ints). Calculate the average grade for each subject. Store the results in another dictionary called `average_grades` with the same keys as `student_grades`.

> **Note:**
>
> Consider the [documentation](https://docs.python.org/3/library/functions.html#sum) of the `sum` function.

Mean of math grades: 9.0

dict_items([('math', [10, 9, 8]), ('english', [7, 6, 5]), ('econ', [4, 3, 2])])

{'math': 9.0, 'english': 6.0, 'econ': 3.0}

dict_items([('math', [10, 9, 8]), ('english', [7, 6, 5]), ('econ', [4, 3, 2])])

## Tracebacks

---
### Question 15

Explain how this code

```python
>>> "a" + a
```

can produce the following error:

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[3], line 1
----> 1 "a" + a

TypeError: can only concatenate str (not "int") to str
```

'a[1, 2, 3, 4, 5]'

a [1, 2, 3, 4, 5]

---
### Question 16

How could `d` look like, such that executing

```python
>>> d["c"]
```

can produce the following traceback:

```python
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
Cell In[5], line 1
----> 1 d["c"]

KeyError: 'c'
```

NameError: name 'd' is not defined

A KeyError is raised when you try to access a key that doesn’t exist in the dictionary. For example, if you define your dictionary without the key "c", like this:

```python
d = {"a": 1, "b": 2}
```
Then, when you execute:


```python
d["c"]
```

Python cannot find the key "c" in d and raises:

```python
KeyError: 'c'
```

---
### Question 17 (Bonus)

Given the following code snippet, identify what will cause a `ValueError` to
occur and explain why.

```python
string_zero = "0"

print(int(string_zero))

string_ten = "ten"

print(int(string_ten))
```

---

### Question 18

Use a for loop to create a list containing all even numbers between 0 and 10. You do not
need if conditions to do this.

[0, 2, 4, 6, 8, 10]

---

### Question 19

Your solution to question 14 probably looked something like this:

```python
student_grades = {"math": [88, 90, 95], "english": [76, 80, 82], "econ": [89, 94, 91]}

average_grades = {
    "math": sum(student_grades["math"]) / len(student_grades["math"]),
    "english": sum(student_grades["english"]) / len(student_grades["english"]),
    "econ": sum(student_grades["econ"]) / len(student_grades["econ"]),
}
```

Redo this question using a for loop over the three subjects and discuss why this makes 
the code better