# In-Class Exercise 2 (solution)

> **Note:**
> 
> 1. Solve the bonus questions only after finishing all other exercises.
> 
> 2. Please commit every time you solve one of the exercises. An example commit message
> could be `"Solution to question 1"`. Feel free to commit more than once per
> exercise if solving it requires multiple complicated steps.

## Assignment and Built-in Scalar Types

---
### Question 1

Compute the value of the expression $(a + b)^2 / 10 $, with $a = 3.14$ and $b =
-10^{-5}$.

In [ ]:
a = 3.14
b = -10e-5

(a + b) ** 2 / 10

---
### Question 2

Check whether the following expression is true $a^{13} < -\frac{1}{b}$

In [ ]:
a**13 < -1 / b

---
### Question 3

Compute the sum of the squares of `a`, `b` and `c`, where $a = 2.5$, $b = -3.7$ and
$c = 4.6$. Then convert the sum to an integer and check if it is even or odd.

In [ ]:
a, b, c = 2.5, -3.7, 4.6
sum_of_squares = a**2 + b**2 + c**2
sum_as_int = int(sum_of_squares)
is_even = sum_as_int % 2 == 0
is_even

---
### Question 4 (Bonus)

Given the expression `2 + 3 * 4 ** 2 - 1 / 5`, without adding any parentheses,
can you determine the order in which the operations are performed? What is the
final result?


The result is 49.8. Exponentiation `**` is executed first, then multiplication `*` and
division `/`, followed by `+` and `-`. You can find a summary table on the official
[documentation](https://docs.python.org/3/reference/expressions.html#operator-precedence).

---
### Question 5 (Bonus)

Given variables `a = True`, `b = False`, and `c = True`, evaluate the following
expression

$$ ((a \land b) \lor c) \land \lnot (a \lor (b \land c)) $$

In [ ]:
a, b, c = True, False, True

expr = ((a and b) or c) and not (a or (b and c))
expr

## Strings

---
### Question 6

Take the string variable `a`:

In [ ]:
a = "I like programming"

and split it into three words. Assign these words to the variables `a1`, `a2` and `a3`.

> **Tip:** Check out the 
> [documentation](https://docs.python.org/3/library/stdtypes.html#str.split)
> of the `split` method.

In [ ]:
a1, a2, a3 = a.split(" ")

---
### Question 7

Take the variables `a1`, `a2` and `a3` from question 6, combine them to a string `b`
such that it says `"programming I like"`. Do this using

- [ ] f-strings
- [ ] the `+` operator.

In [ ]:

f"{a3} {a1} {a2}"

In [ ]:

a3 + " " + a1 + " " + a2

---
### Question 8 (Bonus)

Given a string `"Python programming is fun!"`, replace all occurrences of
the character 'o' with the character '0' (zero), then check if the resulting
string starts with 'Pyt' and ends with 'fun!'.

In [ ]:

s = "Python programming is fun!"
s_updated = s.replace("o", "0")
starts_with = s_updated.startswith("Pyt")
ends_with = s_updated.endswith("fun!")
print(starts_with, ends_with)

## Lists, Tuples and Sets

---
### Question 9

Define the list `a = [-99, -99, 3, 4, 5]` and the tuple `b = (1, 2)`. Assign the values
of `b` to the corresponding positions in `a`.

In [ ]:

a = [-99, -99, 3, 4, 5]
b = (1, 2)

a[:2] = b

a

---
### Question 10

Execute the following code. Why is the result False?

In [ ]:
"ab" in set("abc")

The `set` function expects an input object over which one can iterate. This could be a
list `[1, 2, 3]` or a tuple `(1, 2, 3)`. When we pass the str `"abc"` it is treated as
an iterable. As the lecture shows, we can call `"abc"[k]` for `k = 0, 1, 2`. And so,
`set("abc")` creates the set `{"a", "b", "c"}`, which does not contain `"ab"`.

---
### Question 11 (Bonus)

Given two lists `l1 = [1, 2, 3, 4]` and `l2 = [3, 4, 5, 6]`, create a new list
`l3` that contains the elements that are common to both lists, without any
duplicates.

In [ ]:
l1 = [1, 2, 3, 4]
l2 = [3, 4, 5, 6]
l3 = list(set(l1) & set(l2))
l3

## Dictionaries

---
### Question 12

Define a dictionary that maps names to a level of Python knowledge. As names you can
take the names of your group (min. three people in total). The Python knowledge should
be rated on a scale from 0 to 10.

In [ ]:
python_knowledge = {
    "Janos": 8,
    "Tobi": 10,
    "Mariam": 9,
}

---
### Question 13

Define a dictionary `d1` that maps the keys `"a"` and `"b"`, to the values `1` and `2`,
respectively. Create another dictionary `d2` that maps the key `"c"` to the value `3`.
Now, add the second dictionary as an entry to the first dictionary under the key `"d"`.

In [ ]:
d1 = {
    "a": 1,
    "b": 2,
}

d2 = {"c": 3}

d1["d"] = d2
d1

---
### Question 14

Create a dictionary called `student_grades` with three keys: `math`, `english`, and `econ`. Each key should have a list of three grades as its value (use positive ints). Calculate the average grade for each subject. Store the results in another dictionary called `average_grades` with the same keys as `student_grades`.

> **Note:**
>
> Consider the [documentation](https://docs.python.org/3/library/functions.html#sum) of the `sum` function.

In [ ]:
student_grades = {"math": [88, 90, 95], "english": [76, 80, 82], "econ": [89, 94, 91]}

average_grades = {
    "math": sum(student_grades["math"]) / len(student_grades["math"]),
    "english": sum(student_grades["english"]) / len(student_grades["english"]),
    "econ": sum(student_grades["econ"]) / len(student_grades["econ"]),
}

average_grades

## Tracebacks

---
### Question 15

Explain how this code

```python
>>> "a" + a
```

can produce the following error:

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[3], line 1
----> 1 "a" + a

TypeError: can only concatenate str (not "int") to str
```

The variable `a` is an integer, and addition of integers and str is not defined via the `+` operator.

In [ ]:
a = 2
"a" + a

---
### Question 16

How could `d` look like, such that executing

```python
>>> d["c"]
```

can produce the following traceback:

```python
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
Cell In[5], line 1
----> 1 d["c"]

KeyError: 'c'
```

In [ ]:
d = {"a": 1, "b": "x"}
d["c"]

---
### Question 17 (Bonus)

Given the following code snippet, identify what will cause a `ValueError` to
occur and explain why.

```python
string_zero = "0"

print(int(string_zero))

string_ten = "ten"

print(int(string_ten))
```


The `ValueError` occurs because the `int` function is attempting to convert a
non-numeric string ("ten") to an integer, which is not possible in Python. The
`int` function can only convert strings that represent integer values, i.e. "0"
or "10".

---

### Question 18

Use a for loop to create a list containing all even numbers between 0 and 10. You do not
need if conditions to do this.

In [ ]:

evens = []
for i in range(6):
    evens.append(i * 2)
evens

In [ ]:
list(range(0, 11, 2))

---

### Question 19

Your solution to question 14 probably looked something like this:

```python
student_grades = {"math": [88, 90, 95], "english": [76, 80, 82], "econ": [89, 94, 91]}

average_grades = {
    "math": sum(student_grades["math"]) / len(student_grades["math"]),
    "english": sum(student_grades["english"]) / len(student_grades["english"]),
    "econ": sum(student_grades["econ"]) / len(student_grades["econ"]),
}
```

Redo this question using a for loop over the three subjects and discuss why this makes 
the code better

In [ ]:

student_grades = {"math": [88, 90, 95], "english": [76, 80, 82], "econ": [89, 94, 91]}


average_grades = {}
for subject, grades in student_grades.items():
    average_grades[subject] = sum(grades) / len(grades)


average_grades